@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 6rem;
  line-height: 8rem;
  padding: 10px;
}

h3{
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
  padding: 3px;
}

button.cta-btn {
  text-align: center;
  background-color: #171717;
  color: #ededed;
  padding: 8px 25px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 13rem; /* 200px */
}

button.cta-btn::after {
  content: url('../public/img/arrow-right-white.svg');
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
  align-items: center;
  justify-items: center;
}

/*--- Circle red for notif of articles count ---*/
.menu-cart-notif {
  content: '1';
  font-size: large;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 5px;
}

/*--- Container for Sports Cards ---*/
.sport-card {
  border: #0a0a0a solid 1px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 2rem;
  margin: 20px 2rem;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/*-- Container for Pictogram image in Sports Cards --*/
.sport-pict {
  width: 96px;
  height: 96px;
  mask: initial;
  mask-size: contain;
  overflow: hidden;
  /*mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);*/
}
/*- Rules for Picto postition in Image constainer of Sports Cards -*/
.xBasketBall {
  object-position: 0px 0px;
}
