@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 6rem;
  line-height: 8rem;
  padding: 10px;
}

h3{
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
  padding: 3px;
}
.link-text {
  color: rgb(137, 186, 224);
  font-weight: 600;
}
.link-text:hover {
  color: rgb(215, 195, 120);
  font-weight: bold;
}

/* === UI NAV BANNER ===*/
/*++ Links in list navigation ++*/

ul.menu-banner > li a:hover {
  color: rgb(215, 195, 120);
  font-weight: 900;
}


/* ==== Buttons from User Navigation Top Bar ==== */
.btn-user, .btn-user > button{
  cursor: pointer;
}

.btn-user:hover{
  background-color: rgb(137, 186, 224);
  border:#171717 2px solid;
  transition-delay: 8ms;
}
.user-connected{
  cursor: pointer;
  background-color: rgb(137, 186, 224);
  border:#171717 2px solid;
  
}
/* ==== Buttons for Call-To-Actions ==== */
button.cta-btn {
  text-align: center;
  background-color: #171717;
  color: #ededed;
  padding: 8px 5px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem; /* 200px */
}

button.cta-btn::after {
  content: url('../public/img/arrow-right-white.svg');
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
  align-items: center;
  justify-items: center;
  position: relative;
  right: -10px;
}
button.cta-btn:hover{
  cursor: pointer;
  background-color: rgb(215, 195, 120);
}

/* ==== Buttons for Forms and submissive data calling ==== */
button.btn-submit {
  text-align: center;
  background-color: #171717;
  color: #ededed;
  padding: 8px 5px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem; /* 200px */
}
button.btn-submit:hover {
  background-color: rgb(215, 195, 120);
  color: #171717;
  border-radius: 3px;
  cursor: pointer;
}

/* ==== User Form UI ==== */
.error-input {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
} 

/*--- Circle red for notif of articles count ---*/
.menu-cart-notif {
  font-size: large;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 5px;
}
.cart-notif{
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 6px;
  font-weight: 600;
}

/*--- Container for Sports Cards ---*/
.sport-card {
  border: #0a0a0a solid 1px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 2rem;
  margin: 20px 2rem;
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*-- Container for Pictogram image in Sports Cards --*/
.sport-pict {
  width: 96px;
  height: 96px;
  mask: initial;
  mask-size: contain;
  overflow: hidden;
  /*mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);*/
}
/*- Rules for Picto postition in Image constainer of Sports Cards -*/
.xBasketBall {
  object-position: 0px calc(42 * -100px);
}
.archery {
  object-position: 0px 0px;
}
.artistic-swimming {
  object-position: 0px calc(31 * -100px);
}
.artistic-gymnastics {
  object-position: 0px calc(17 * -100px);
}
.atheltics {
  object-position: 0px -100px;
}
.badminton {
  object-position: 0px calc(2 * -100px);
}
.basketball {
  object-position: 0px calc(3 * -100px);
}
.beach-volleyball {
  object-position: 0px calc(4 * -100px);
}
.boxing {
  object-position: 0px calc(5 * -100px);
}
.breaking {
  object-position: 0px calc(47 * -100px);
}
.canoe-slalom {
  object-position: 0px calc(6 * -100px);
}
.canoe-sprint {
  object-position: 0px calc(7 * -100px);
}
.cycling-bmx-free {
  object-position: 0px calc(43 * -100px);
}
.cycling-bmx-race {
  object-position: 0px calc(8 * -100px);
}
.cycling-mount-bike {
  object-position: 0px calc(9 * -100px);
}
.cycling-road {
  object-position: 0px calc(10 * -100px);
}
.cycling-track {
  object-position: 0px calc(11 * -100px);
}
.diving {
  object-position: 0px calc(12 * -100px);
}
.equestrian {
  object-position: 0px calc(13 * -100px);
}
.fencing {
  object-position: 0px calc(14 * -100px);
}
.football {
  object-position: 0px calc(15 * -100px);
}
.golf {
  object-position: 0px calc(16 * -100px);
}
.handball {
  object-position: 0px calc(20 * -100px);
}
.hockey {
  object-position: 0px calc(21 * -100px);
}
.judo {
  object-position: 0px calc(22 * -100px);
}
.marathon-swimming {
  object-position: 0px calc(28 * -100px);
}
.modern-pentathlon {
  object-position: 0px calc(23 * -100px);
}
.rhytmic-gymnastics {
  object-position: 0px calc(18 * -100px);
}
.rowing {
  object-position: 0px calc(24 * -100px);
}
.rugby-sevens {
  object-position: 0px calc(25 * -100px);
}
.sailing {
  object-position: 0px calc(26 * -100px);
}
.shooting {
  object-position: 0px calc(27 * -100px);
}
.skateboarding {
  object-position: 0px calc(44 * -100px);
}
.sport-climbing {
  object-position: 0px calc(45 * -100px);
}
.surfing {
  object-position: 0px calc(46 * -100px);
}
.swimming {
  object-position: 0px calc(28 * -100px);
}
.table-tennis {
  object-position: 0px calc(31 * -100px);
}
.taekwondo {
  object-position: 0px calc(32 * -100px);
}
.tennis {
  object-position: 0px calc(33 * -100px);
}
.trampoline-gymnastics {
  object-position: 0px calc(17 * -100px);
}
.triathlon {
  object-position: 0px calc(34 * -100px);
}
.volleyball {
  object-position: 0px calc(35 * -100px);
}
.water-polo {
  object-position: 0px calc(36 * -100px);
}
.weightlifting {
  object-position: 0px calc(37 * -100px);
}
.wrestling {
  object-position: 0px calc(38 * -100px);
}

.signin-form > input, label {
  text-align: center;
  justify-content: center;
}

.signin-form > input {
  border: #171717 solid 1px;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 10px 8px;
  color: #000;
  box-shadow: 6px 3px 2px 5px gray;
}

.signup-form > input, label {
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: row;
}

.signup-form > input {
  border: #2b2a2a solid 0.5px;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 20px 15px;
  color: #000;
  box-shadow: 6px 3px 2px gray;
}

.signup-form > label {
  margin-left: 10px;
  color: #000;
  font-weight: 500;
}