@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  font-size: 1.5rem;
}

button.cta-btn {
  text-align: center;
  background-color: #171717;
  color: #ededed;
  padding: 8px 25px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 13rem; /* 200px */
}

button.cta-btn::after {
  content: url('../public/img/arrow-right-white.svg');
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
  align-items: center;
  justify-items: center;
}

/*--- circle red for notif of articles count ---*/
.menu-cart-notif {
  content: '1';
  font-size: large;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  right: 5px;
}

